<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head %}
        <title>{% block title %}Default Page{% endblock %} - Robolist </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head %}
    </head>
    <body>
        {% include 'layouts/navigation.html' %}
        <h1>{% block page_head %}{{ self.title() }}{% endblock %}</h1>
        
        {% block content %}
        {% endblock content %}

    </body>
</html>