<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head %}
            <title>{% block title %}Default Page{% endblock %} - Robolist </title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
        {% endblock head %}
    </head>
    <body>
        {% include 'layouts/navigation.html' %}
        
        <div id = 'page-body'>
            <h1>{% block page_head %}{{ self.title() }}{% endblock %}</h1>
            
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>