<div class='padded-content'>
    <h1> About </h1>

    <p>
        I'm very picky about the music I listen to, and often find myself adding
        many songs to my queue before embarking on a trip or going for a drive.
        I started building this app so I could type in a quick search query and
        have a playlist generated for me using songs from my library.
    </p>
    <p>
        Check out the project on GitHub below!
        Also, feel free to contact me on LinkedIn or send me an email for inquiries.
    </p>

    <div class='links'>
        <a href='https://github.com/zainosaurus/spotify-app'><span class="fab fa-github fa-2x"></span></a>
        <span class='inline-spacer'></span>
        <a href='https://www.linkedin.com/in/zaintahlilkar/'><span class="fab fa-linkedin fa-2x"></span></a>
        <span class='inline-spacer'></span>
        <a href='mailto:zain.tahlilkar@gmail.com'><span class="fas fa-envelope fa-2x"></span></a>
    </div>

    <br>
    <hr>
    <p>
        Copyright &copy Zain Tahlilkar, 2019
    </p>
</div>