table {
    border-collapse: collapse;
}

thead {
    text-align: left;
    border-bottom: 2px solid rgba(152, 152, 152, 0.3);
}

thead th {
    margin-bottom: 12px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
}

tbody tr {
    font-family: 'Nunito', sans-serif;
    font-size: small;
    font-weight: lighter;
    transition: background-color 0.35s;
    border-bottom: 1px solid rgba(152, 152, 152, 0.1);
}

tbody tr:hover {
    background-color: rgba(152, 152, 152, 0.15);
    cursor: pointer;
}

tbody td {
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Individual widths for each column */
tbody .track-title {
    max-width: 300px;
}
tbody .track-artists {
    max-width: 250px;
}
tbody .track-album {
    max-width: 200px;
}
tbody .track-popularity {
    max-width: 20px;
}