{% extends 'layouts/base.html' %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/clickable_table_rows.js') }}"></script>
    <style>
        #title {
            display: inline-block;
            vertical-align: middle;
        }
        #filter-form {
            float: right;
            padding-top: 1.5em;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block title %} My Library {% endblock %}

{% block content %}
    <div id='title'>
        <h1> My Library </h1>
    </div>
    <div id='filter-form'>
        <form method="GET" id='query-form' action="{{ url_for('filter_library') }}">
            <label name='query_str'> Filter: </label>
            <input type='text' autocomplete='off' name='query_str'>
            <input type='submit' value='Filter'>
        </form>
    </div>
    <div class='song-list'>
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Artist </th>
                    <th> Album </th>
                    <th> Popularity </th>
                </tr>
            </thead>
            <tbody>
                {% for track in saved_tracks %}
                    <tr class='clickable-row' data-href="{{ url_for('song_info', spotify_id=track.to_simple_json().get('id')) }}">
                        <td class='song-title'> {{ track.to_simple_json().get('name') }} </td>
                        <td> {{ track.to_simple_json().get('artists') }} </td>
                        <td> {{ track.to_simple_json().get('album_name') }} </td>
                        <td> {{ track.to_simple_json().get('popularity') }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}