{% extends 'layouts/base.html' %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/clickable_table_rows.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/song_analysis_chart.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <style>
        #title {
            display: block;
        }
        #filter-form {
            float: right;
            padding-top: 1.5em;
            vertical-align: middle;
        }
        #song-list {
            display: inline-block;
        }
        #info-chart {
            display: inline-block;
            vertical-align: top;
        }
    </style>
    <script>
        $(document).ready(function() {
            createChart({{ chart_labels | safe }}, {{ chart_data }});
            $("#song-table").DataTable({
                "dom": 'fi<t><"pagination"p>',
                "language": {
                    "info": "_START_ - _END_  of _TOTAL_ songs",
                    "search": "Search: &nbsp"
                },
                "pageLength": 25
            });
        });
    </script>
{% endblock %}

{% block title %} My Library {% endblock %}

{% block content %}
    <div class="col s-9">
        <div id='title'>
            <h1> My Library </h1>
        </div>
        <div id='song-list'>
            <table id="song-table">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Artist </th>
                        <th> Album </th>
                        <th><span class="fas fa-chart-line"></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in saved_tracks %}
                        <tr class='clickable-row' data-href="{{ url_for('song_info', spotify_id=track.to_simple_json().get('id')) }}" data-info="{{ track.to_simple_json() }}">
                            <td class="track-title"> {{ track.to_simple_json().get('name') }} </td>
                            <td class="track-artists"> {{ track.to_simple_json().get('artists') }} </td>
                            <td class="track-album"> {{ track.to_simple_json().get('album_name') }} </td>
                            <td class="track-pop"> {{ track.to_simple_json().get('popularity') }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s-3">
        <div>
            <h1><center>Mean Stats</center></h1>
        </div>
        <div id = 'info-chart'>
            <canvas id = 'chart' width = '300' height = '300'></canvas>
        </div>
    </div>
{% endblock %}