{% extends 'layouts/base.html' %}

{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/song_analysis_chart.js') }}"></script>
    <style>
        #song-chart {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15%;
        }
    </style>
    <script>
        $(document).ready(function() {
            createChart({{ data_labels | safe }}, {{ data_values }});
        });
    </script>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1> {{ title }} </h1>
    <div class = 'card info inline' style = 'min-width: 25%;'>
        <div id = 'song-info'>
            <p><b>Track: </b> {{ track_info['name'] }}</p>
            <p><b>Artists: </b> {{ track_info['artists'] }}</p>
            <p><b>Album: </b> {{ track_info['album_name'] }}</p>
            <p><b>Popularity: </b> {{ track_info['popularity'] }}</p>
        </div>
        <hr>
        <div id = 'song-stats'>
            <ul>
                {% for key, val in track_info['audio_features'].items() %}
                    <li><b>{{ key }}</b>: {{ val }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id = 'song-chart'>
        <canvas id = 'chart' width = '400' height = '400'></canvas>
    </div>
{% endblock %}